@import 'mixins';


   .header {
    background-color: white;
    color: black;
    padding: 1rem;
    border-bottom: 1px solid #ccc;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 1rem;

        &.menu-open {
          background-color: white;
        }

        .menu__dropdown {
            display: none;
            position: absolute;
            top: 4.5rem; 
            right: 0.5rem;
            left: 0.5rem; 
            background-color: white; 
            border: 1px solid #ccc; 
            border-radius: 4px;
            z-index: 10;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px 20px; 

                    a {
                        color: #333; 
                        text-decoration: none; 
                        display: block;

                        &:hover {
                            background-color: #f0f0f0; 
                        }
                    }
                }
            }
        }

        &.menu-open .menu__dropdown {
            display: block;
        }
    }
    


    

    .menu__button {
        background: none;
        border: none;
        cursor: pointer;

        img {
            height: 1rem; 
            
        }
    }

    .header__title {
        display: flex; 
        align-items: center; 
        justify-content: center; 

        .header__logo__img {
            height: 2rem; 
            text-align: right; 
        }

    }

    .header__icons {
        display: flex;
        align-items: left;
        text-align: right;
        .user__button,
        .search__button {
            background: none;
            border: none;
            cursor: pointer;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            img {
                height: 2rem; 
            }
        }
    }
}



